<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class="bg-slate-900 min-h-screen">
  <header class="bg-slate-800 text-white">
    <section class="flex justify-between container mx-auto py-4">
      <h1 class="text-3xl font-bold">300 movies watched</h1>
      <button class="bg-slate-600 hover:bg-slate-700 py-2 px-6 rounded-full"><fa-icon [icon]="faArrowRightToBracket" class="mr-3"></fa-icon>Login</button>
    </section>
  </header>
  <main class="bg-slate-900 text-white p-4">
    <section class="container mx-auto py-4">
      <app-movie-card></app-movie-card>
      <a href="#bottom" class="grid place-content-center fixed bottom-8 right-0 h-14 w-14 border border-slate-700 bg-slate-800 hover:bg-slate-900 bg-opacity-70 rounded-l-full">
        <fa-icon [icon]="faArrowDown"></fa-icon>
      </a>
      <div id="bottom"></div>
    </section>
  </main>
</body>
</html>
